@import "utilities";

#section-about {
	padding-top: 12rem;
	padding-bottom: 5rem;
	display: grid;
	grid-template-columns: 1fr 2fr;

	.about-img-wrapper {
		display: flex;
		flex-direction: column;
		background-color: $secondary-color;
		
		img {
			object-fit: cover;
			width: 100%;
		}

		.figcaption {
			height: 100%;
			font-weight: 900;
			text-align: right;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 3rem;
			color: $yellow;
			text-transform: uppercase;
			line-height: 0.8;
		}
	}

	.about-text-wrapper {
		display: flex;
		flex-direction: column;
		padding: 0 2rem;
		font-size: 1rem;

		.about-text {
			font-size: 1rem;
			margin-top: 1rem;

			.about-text-important {
				font-weight: 700;
			}
			
			.pink {color: $pink;}
			.green {color: $green;}
		}
	}
}

@media only screen and (max-width: 768px) {
	#section-about {
		padding-top: 8rem;
		display: flex;
		flex-direction: column-reverse;
		gap: 2rem;

		.about-text {
			font-size: 0.8rem !important;
		}
	}
}
