    
#section-showreel {
	padding-top: 12rem;
	padding-bottom: 4rem;
	display: grid;
	grid-template-columns: 2fr 1fr;
	
	.showreel-video-wrapper {
			position: relative;
			padding-bottom: 56.25%;
			
			iframe {
				position: absolute;
				width: 100%;
				height: 100%;
			}
	}

	.showreel-text-wrapper {
			display: flex;
			flex-direction: column;
			padding: 0 1rem;
			font-size: 1rem;
			// .title {
			// 	// margin-top: 0.5rem;
			// 	font-size: 1.5rem;
			// 	text-transform: uppercase;
			// 	letter-spacing: -1px;
			// 	font-weight: 700;
			// }
			// .p-custom {
			// 	font-size: 1.5rem;
			// 	text-transform: uppercase;
			// 	letter-spacing: -1px;
			// 	font-weight: 700;
			// 	color: $green;
			// 	margin: 0;
			// }

			// .subtitle {
			// 	color: $secondary-color;
			// 	font-size: 2.5rem;
			// 	text-transform: uppercase;
			// 	letter-spacing: -1px;
			// 	font-weight: 900;
			// 	line-height: 0.8;
			// }
			
			p {
				// line-height: 1.3;
				// font-weight: 300;
				// margin-top: 1.5rem;
				span {
				a {
					color: $primary-color;
					font-weight: 700;
					// background-color: #f00064;
					text-transform: lowercase;
					color: $pink;
					// padding: 0.2rem 0.5rem;

					&:hover {
						background-color: $secondary-color;
						color: $primary-color;
					}
				}
			}
		}
		.download-cv {
			// color: $primary-color;
			// background-color: #34eaab;
			margin: 1rem 0;
			a {
				// padding: 0.2rem 0.5rem;
				// background-color: #34eaab;
				color: $green;
				font-weight: 900;
				text-transform:none;
				// font-size: 1.2rem;
				&:hover {
					background-color: $secondary-color;
					color: $primary-color;
				}
			}
		}
	}
}
