@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.container-9 {
  width: 90%;
  margin: auto;
}
.container-8 {
  width: 80%;
  margin: auto;
}
.container-7 {
  width: 70%;
  margin: auto;
}
.container-6 {
  width: 60%;
  margin: auto;
}
.container-5 {
  width: 50%;
  margin: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.p-u {
  text-transform: uppercase;
}

.p-custom {
  color: #ffd251;
}

h5 {
  line-height: 2;
}

.watch-btn, .watch-trailer {
  text-transform: uppercase;
  color: #e9e4e4;
}
.watch-btn i, .watch-trailer i {
  padding-right: 0.3rem;
}
.watch-btn:hover, .watch-trailer:hover {
  color: #ffd251;
  cursor: pointer;
}

.bg-dark {
  background-color: #3a3a3a;
}
.bg-light {
  background-color: #e9e4e4;
}

.btn-dark {
  background-color: #1b1c1e;
  color: #e9e4e4;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-dark:hover {
  background-color: #e9e4e4;
  color: #1b1c1e;
  transition: all 0.5s;
}
.btn-light {
  background-color: #e9e4e4;
  color: #1b1c1e;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-light:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  color: #e9e4e4;
  transition: all 0.5s;
}
.btn-custom {
  background-color: #ffd251;
  color: #1b1c1e;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-custom:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  color: #ffd251;
  transition: all 0.5s;
}
.btn-modal {
  background-color: #ffd251;
  color: #3a3a3a;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-modal:hover {
  cursor: pointer;
  background-color: #1b1c1e;
  color: #ffd251;
  transition: all 0.5s;
}
.btn-important {
  background-color: #34eaab;
  color: #1b1c1e;
  padding: 1rem 2rem;
  font-weight: 700;
  align-self: center;
  text-transform: lowercase;
}
.btn-important:hover {
  cursor: pointer;
  background-color: #ffd251;
  transition: all 0.5s;
}
.btn-caption:hover {
  color: #ffd251;
}

.separator {
  border: none;
  background-color: #ffd251;
  height: 1.5px;
  width: 100px;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}
.px-4 {
  padding: 0 4rem;
}

.pa-1 {
  padding: 1rem;
}
.pa-2 {
  padding: 2rem;
}
.pa-3 {
  padding: 0 3rem;
}
.pa-4 {
  padding: 0 4rem;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.mx-4 {
  margin: 0 4rem;
}

.my-1 {
  margin: 1rem;
}
.my-2 {
  margin: 2rem;
}
.my-3 {
  margin: 3rem;
}
.my-4 {
  margin: 4rem;
}

#section-showreel {
  padding-top: 12rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#section-showreel .showreel-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}
#section-showreel .showreel-video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
#section-showreel .showreel-text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  font-size: 1rem;
}
#section-showreel .showreel-text-wrapper p span a {
  color: #1b1c1e;
  font-weight: 700;
  text-transform: lowercase;
  color: #f00064;
}
#section-showreel .showreel-text-wrapper p span a:hover {
  background-color: #ffd251;
  color: #1b1c1e;
}
#section-showreel .showreel-text-wrapper .download-cv {
  margin: 1rem 0;
}
#section-showreel .showreel-text-wrapper .download-cv a {
  color: #34eaab;
  font-weight: 900;
  text-transform: none;
}
#section-showreel .showreel-text-wrapper .download-cv a:hover {
  background-color: #ffd251;
  color: #1b1c1e;
}

@media only screen and (max-width: 768px) {
  #section-showreel {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
@media only screen and (min-width: 2560px) {
  #section-showreel {
    padding-top: 30rem;
  }
}/*# sourceMappingURL=showreelstyle.css.map */