@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.container-9 {
  width: 90%;
  margin: auto;
}
.container-8 {
  width: 80%;
  margin: auto;
}
.container-7 {
  width: 70%;
  margin: auto;
}
.container-6 {
  width: 60%;
  margin: auto;
}
.container-5 {
  width: 50%;
  margin: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.p-u {
  text-transform: uppercase;
}

.p-custom {
  color: #ffd251;
}

h5 {
  line-height: 2;
}

.watch-btn, .watch-trailer {
  text-transform: uppercase;
  color: #e9e4e4;
}
.watch-btn i, .watch-trailer i {
  padding-right: 0.3rem;
}
.watch-btn:hover, .watch-trailer:hover {
  color: #ffd251;
  cursor: pointer;
}

.bg-dark {
  background-color: #3a3a3a;
}
.bg-light {
  background-color: #e9e4e4;
}

.btn-dark {
  background-color: #1b1c1e;
  color: #e9e4e4;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-dark:hover {
  background-color: #e9e4e4;
  color: #1b1c1e;
  transition: all 0.5s;
}
.btn-light {
  background-color: #e9e4e4;
  color: #1b1c1e;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-light:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  color: #e9e4e4;
  transition: all 0.5s;
}
.btn-custom {
  background-color: #ffd251;
  color: #1b1c1e;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-custom:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  color: #ffd251;
  transition: all 0.5s;
}
.btn-modal {
  background-color: #ffd251;
  color: #3a3a3a;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-modal:hover {
  cursor: pointer;
  background-color: #1b1c1e;
  color: #ffd251;
  transition: all 0.5s;
}
.btn-important {
  background-color: #34eaab;
  color: #1b1c1e;
  padding: 1rem 2rem;
  font-weight: 700;
  align-self: center;
  text-transform: lowercase;
}
.btn-important:hover {
  cursor: pointer;
  background-color: #ffd251;
  transition: all 0.5s;
}
.btn-caption:hover {
  color: #ffd251;
}

.separator {
  border: none;
  background-color: #ffd251;
  height: 1.5px;
  width: 100px;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}
.px-4 {
  padding: 0 4rem;
}

.pa-1 {
  padding: 1rem;
}
.pa-2 {
  padding: 2rem;
}
.pa-3 {
  padding: 0 3rem;
}
.pa-4 {
  padding: 0 4rem;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.mx-4 {
  margin: 0 4rem;
}

.my-1 {
  margin: 1rem;
}
.my-2 {
  margin: 2rem;
}
.my-3 {
  margin: 3rem;
}
.my-4 {
  margin: 4rem;
}

.container-9 {
  width: 90%;
  margin: auto;
}
.container-8 {
  width: 80%;
  margin: auto;
}
.container-7 {
  width: 70%;
  margin: auto;
}
.container-6 {
  width: 60%;
  margin: auto;
}
.container-5 {
  width: 50%;
  margin: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.p-u {
  text-transform: uppercase;
}

.p-custom {
  color: #ffd251;
}

h5 {
  line-height: 2;
}

.watch-btn, .watch-trailer {
  text-transform: uppercase;
  color: #e9e4e4;
}
.watch-btn i, .watch-trailer i {
  padding-right: 0.3rem;
}
.watch-btn:hover, .watch-trailer:hover {
  color: #ffd251;
  cursor: pointer;
}

.bg-dark {
  background-color: #3a3a3a;
}
.bg-light {
  background-color: #e9e4e4;
}

.btn-dark {
  background-color: #1b1c1e;
  color: #e9e4e4;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-dark:hover {
  background-color: #e9e4e4;
  color: #1b1c1e;
  transition: all 0.5s;
}
.btn-light {
  background-color: #e9e4e4;
  color: #1b1c1e;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-light:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  color: #e9e4e4;
  transition: all 0.5s;
}
.btn-custom {
  background-color: #ffd251;
  color: #1b1c1e;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-custom:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  color: #ffd251;
  transition: all 0.5s;
}
.btn-modal {
  background-color: #ffd251;
  color: #3a3a3a;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-modal:hover {
  cursor: pointer;
  background-color: #1b1c1e;
  color: #ffd251;
  transition: all 0.5s;
}
.btn-important {
  background-color: #34eaab;
  color: #1b1c1e;
  padding: 1rem 2rem;
  font-weight: 700;
  align-self: center;
  text-transform: lowercase;
}
.btn-important:hover {
  cursor: pointer;
  background-color: #ffd251;
  transition: all 0.5s;
}
.btn-caption:hover {
  color: #ffd251;
}

.separator {
  border: none;
  background-color: #ffd251;
  height: 1.5px;
  width: 100px;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}
.px-4 {
  padding: 0 4rem;
}

.pa-1 {
  padding: 1rem;
}
.pa-2 {
  padding: 2rem;
}
.pa-3 {
  padding: 0 3rem;
}
.pa-4 {
  padding: 0 4rem;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.mx-4 {
  margin: 0 4rem;
}

.my-1 {
  margin: 1rem;
}
.my-2 {
  margin: 2rem;
}
.my-3 {
  margin: 3rem;
}
.my-4 {
  margin: 4rem;
}

main #main-container {
  padding-top: 15rem;
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "img-24 img-23 img-22 img-21" "img-20 img-19 img-18 img-16" "img-15 img-14 img-1 img-2 " "img-3 img-4 img-5 img-6";
}
main #main-container #img-1 {
  grid-area: img-1;
}
main #main-container #img-2 {
  grid-area: img-2;
}
main #main-container #img-3 {
  grid-area: img-3;
}
main #main-container #img-4 {
  grid-area: img-4;
}
main #main-container #img-5 {
  grid-area: img-5;
}
main #main-container #img-6 {
  grid-area: img-6;
}
main #main-container #img-7 {
  grid-area: img-7;
  display: none;
}
main #main-container #img-13 {
  grid-area: img-13;
  display: none;
}
main #main-container #img-14 {
  grid-area: img-14;
}
main #main-container #img-15 {
  grid-area: img-15;
}
main #main-container #img-16 {
  grid-area: img-16;
}
main #main-container #img-17 {
  grid-area: img-17;
}
main #main-container #img-18 {
  grid-area: img-18;
}
main #main-container #img-19 {
  grid-area: img-19;
}
main #main-container #img-20 {
  grid-area: img-20;
}
main #main-container #img-21 {
  grid-area: img-21;
}
main #main-container #img-22 {
  grid-area: img-22;
}
main #main-container #img-23 {
  grid-area: img-23;
}
main #main-container #img-24 {
  grid-area: img-24;
}
main #main-container #img-25 {
  grid-area: img-25;
}
main #main-container .display-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 25%;
}
main #main-container .display-card .img-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
main #main-container .display-card .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  transform-origin: bottom center;
}
main #main-container .display-card .img-wrapper img:hover {
  transform: scale(1.2);
  transition: all 3s ease;
}
main #main-container .display-card .modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffd251;
  animation-name: modalopen;
  animation-duration: 1s;
}
main #main-container .display-card .modal .modal-content {
  margin: 2rem auto;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: -2px;
}
main #main-container .display-card .modal .modal-content .close-modal-btn {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  color: rgb(43, 117, 186);
  font-size: 1.5rem;
  align-self: flex-end;
  cursor: pointer;
  z-index: 100;
}
main #main-container .display-card .modal .modal-content .close-modal-btn:hover {
  color: #f00064;
}
main #main-container .display-card .modal .modal-content .close-modal-btn:active {
  color: #292828;
}
main #main-container .display-card .modal .modal-content .modal-header {
  line-height: 1;
  margin-bottom: 3rem;
}
main #main-container .display-card .modal .modal-content .modal-header .modal-header-title {
  font-weight: 900;
  font-size: 2rem;
  color: #ffa700;
}
main #main-container .display-card .modal .modal-content .modal-header .modal-header-subtitle {
  font-weight: 900;
  font-size: 2.5rem;
  color: #1b1c1e;
}
main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-title {
  font-size: 1.1rem;
  color: #ffa700;
  font-weight: 900;
  margin-top: 0.5rem;
}
main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-subtitle {
  font-size: 1.5rem;
  color: #1b1c1e;
  line-height: 1;
}
main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-subtitle .modal-info-subtitle-link {
  color: #1b1c1e;
}
main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-subtitle .modal-info-subtitle-link .modal-link-icon {
  font-size: 1rem;
  margin-left: 0.8rem;
}
main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-subtitle .modal-info-subtitle-link:hover {
  color: #f00064;
}
main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-award {
  margin-top: 0.5rem;
  color: rgb(43, 117, 186);
  font-size: 1.1rem;
  font-weight: 900;
}
main #main-container .display-card .modal .modal-content .trailer-container {
  display: flex;
  margin-top: 6rem;
}
main #main-container .display-card .modal .modal-content .trailer-container a {
  text-transform: lowercase;
  font-weight: 700;
  font-size: 1.1rem;
  background-color: #ffa700;
  padding: 1rem;
  color: #1b1c1e;
  letter-spacing: 0;
}
main #main-container .display-card .modal .modal-content .trailer-container a:hover {
  background-color: #34eaab;
  color: #1b1c1e;
  transition: all 0.3s;
}

/**************** MEDIA QUERIES ****************/
@media only screen and (max-width: 769px) {
  main #main-container {
    padding-top: 12rem;
    grid-template-areas: "img-24" "img-23" "img-22" "img-21" "img-20" "img-19" "img-18" "img-16" "img-15" "img-14" "img-1" "img-2" "img-3" "img-4" "img-5" "img-6";
  }
  main #main-container .display-card .modal .modal-content .close-modal-btn {
    font-size: 3rem;
  }
  main #main-container .display-card .modal .modal-content .modal-header .modal-header-title {
    font-size: 3rem;
  }
  main #main-container .display-card .modal .modal-content .modal-header .modal-header-subtitle {
    font-size: 3.5rem;
  }
  main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-title {
    font-size: 2.5rem;
  }
  main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-subtitle {
    font-size: 3rem;
  }
  main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-subtitle .modal-info-subtitle-link .modal-link-icon {
    font-size: 2rem;
  }
  main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-award {
    font-size: 2.5rem;
  }
  main #main-container .display-card .modal .modal-content .trailer-container a {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 2500px) {
  main #main-container .display-card .modal .modal-content .close-modal-btn {
    margin-top: 2rem;
    font-size: 4rem;
  }
  main #main-container .display-card .modal .modal-content .modal-header .modal-header-title {
    font-size: 6rem;
  }
  main #main-container .display-card .modal .modal-content .modal-header .modal-header-subtitle {
    font-size: 6.5rem;
    line-height: 1;
  }
  main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-title {
    font-size: 3.5rem;
  }
  main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-subtitle {
    font-size: 4rem;
  }
  main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-subtitle .modal-info-subtitle-link .modal-link-icon {
    font-size: 3rem;
  }
  main #main-container .display-card .modal .modal-content .modal-info-container .modal-info-award {
    font-size: 3.5rem;
  }
  main #main-container .display-card .modal .modal-content .trailer-container a {
    font-size: 4rem;
    padding: 2rem 4rem;
  }
}
#section-portfolio {
  padding: 12rem 0 4rem 0;
  display: flex;
  gap: 1rem;
}
#section-portfolio .grid-col {
  flex: 1;
}
#section-portfolio .portfolio-wrapper {
  margin-top: 1rem;
  background-color: #1b1c1e;
  box-shadow: 10px 10px 20px #171819, -5px -5px 5px #1f2023;
}
#section-portfolio .portfolio-wrapper .portfolio-img-wrapper {
  overflow: hidden;
}
#section-portfolio .portfolio-wrapper .portfolio-img-wrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section-portfolio .portfolio-wrapper .portfolio-text-wrapper {
  padding: 1rem;
  text-transform: uppercase;
}
#section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-header-text .title {
  font-size: 0.7rem;
  color: #e9e4e4;
}
#section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-header-text .title h3 {
  margin-bottom: 0.5rem;
}
#section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-header-text .title i {
  margin-left: 0.3rem;
  font-size: 0.6rem;
}
#section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-header-text .title:hover {
  color: #f00064;
}
#section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-header-text .subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #ffd251;
  font-weight: 900;
}
#section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-content-wrapper .portfolio-content-title {
  font-weight: 500;
  margin-top: 0.8rem;
  font-size: 0.7rem;
}
#section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-content-wrapper .portfolio-content-subtitle, #section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-content-wrapper .subtitle-link {
  color: #34eaab;
  line-height: 1;
  font-size: 0.8rem;
  font-weight: 700;
}
#section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-content-wrapper .portfolio-content-subtitle .subtitle-link i, #section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-content-wrapper .subtitle-link .subtitle-link i {
  margin-left: 0.3rem;
  font-size: 0.6rem;
}
#section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-content-wrapper .portfolio-content-subtitle .subtitle-link:hover, #section-portfolio .portfolio-wrapper .portfolio-text-wrapper .portfolio-content-wrapper .subtitle-link .subtitle-link:hover {
  color: #f00064;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(41, 40, 40, 0.8);
  background: url("/img/main-bg.png");
  background-size: contain;
  animation-name: modalopen;
  animation-duration: 1.5s;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper {
  display: flex;
  flex-direction: column;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper .close-portfolio-carousel {
  text-align: right;
  padding: 2rem;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #e9e4e4;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper .close-portfolio-carousel:hover {
  color: #ffd251;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper .close-portfolio-carousel:active {
  color: #292828;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper .modal-portfolio-video-wrapper {
  width: 70%;
  height: 40%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper .modal-portfolio-video-wrapper .carousel-img-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: auto;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper .modal-portfolio-video-wrapper .carousel-img-wrapper .iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  display: flex;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper .modal-portfolio-video-wrapper .carousel-img-wrapper .iframe-wrapper .show {
  display: block;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper .modal-portfolio-video-wrapper .carousel-img-wrapper .iframe-wrapper .hide {
  display: none;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper .modal-portfolio-video-wrapper .carousel-img-wrapper .iframe-wrapper iframe {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper .modal-portfolio-video-wrapper .carousel-btn-container button {
  cursor: pointer;
  border: none;
  background-color: #34eaab;
  color: #1b1c1e;
  padding: 0.3rem 0.5rem;
  margin-top: 2rem;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: -1px;
}
#section-portfolio .portfolio-wrapper .modal-portfolio-carousel .modal-portfolio-wrapper .modal-portfolio-video-wrapper .carousel-btn-container button:hover {
  background-color: #ffd251;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .grid-col--2, .grid-col--3, .grid-col--4 {
    display: none;
  }
}
.container-9 {
  width: 90%;
  margin: auto;
}
.container-8 {
  width: 80%;
  margin: auto;
}
.container-7 {
  width: 70%;
  margin: auto;
}
.container-6 {
  width: 60%;
  margin: auto;
}
.container-5 {
  width: 50%;
  margin: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.p-u {
  text-transform: uppercase;
}

.p-custom {
  color: #ffd251;
}

h5 {
  line-height: 2;
}

.watch-btn, .watch-trailer {
  text-transform: uppercase;
  color: #e9e4e4;
}
.watch-btn i, .watch-trailer i {
  padding-right: 0.3rem;
}
.watch-btn:hover, .watch-trailer:hover {
  color: #ffd251;
  cursor: pointer;
}

.bg-dark {
  background-color: #3a3a3a;
}
.bg-light {
  background-color: #e9e4e4;
}

.btn-dark {
  background-color: #1b1c1e;
  color: #e9e4e4;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-dark:hover {
  background-color: #e9e4e4;
  color: #1b1c1e;
  transition: all 0.5s;
}
.btn-light {
  background-color: #e9e4e4;
  color: #1b1c1e;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-light:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  color: #e9e4e4;
  transition: all 0.5s;
}
.btn-custom {
  background-color: #ffd251;
  color: #1b1c1e;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-custom:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  color: #ffd251;
  transition: all 0.5s;
}
.btn-modal {
  background-color: #ffd251;
  color: #3a3a3a;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-modal:hover {
  cursor: pointer;
  background-color: #1b1c1e;
  color: #ffd251;
  transition: all 0.5s;
}
.btn-important {
  background-color: #34eaab;
  color: #1b1c1e;
  padding: 1rem 2rem;
  font-weight: 700;
  align-self: center;
  text-transform: lowercase;
}
.btn-important:hover {
  cursor: pointer;
  background-color: #ffd251;
  transition: all 0.5s;
}
.btn-caption:hover {
  color: #ffd251;
}

.separator {
  border: none;
  background-color: #ffd251;
  height: 1.5px;
  width: 100px;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}
.px-4 {
  padding: 0 4rem;
}

.pa-1 {
  padding: 1rem;
}
.pa-2 {
  padding: 2rem;
}
.pa-3 {
  padding: 0 3rem;
}
.pa-4 {
  padding: 0 4rem;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.mx-4 {
  margin: 0 4rem;
}

.my-1 {
  margin: 1rem;
}
.my-2 {
  margin: 2rem;
}
.my-3 {
  margin: 3rem;
}
.my-4 {
  margin: 4rem;
}

#section-showreel {
  padding-top: 12rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#section-showreel .showreel-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}
#section-showreel .showreel-video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
#section-showreel .showreel-text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  font-size: 1rem;
}
#section-showreel .showreel-text-wrapper p span a {
  color: #1b1c1e;
  font-weight: 700;
  text-transform: lowercase;
  color: #f00064;
}
#section-showreel .showreel-text-wrapper p span a:hover {
  background-color: #ffd251;
  color: #1b1c1e;
}
#section-showreel .showreel-text-wrapper .download-cv {
  margin: 1rem 0;
}
#section-showreel .showreel-text-wrapper .download-cv a {
  color: #34eaab;
  font-weight: 900;
  text-transform: none;
}
#section-showreel .showreel-text-wrapper .download-cv a:hover {
  background-color: #ffd251;
  color: #1b1c1e;
}

@media only screen and (max-width: 768px) {
  #section-showreel {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
@media only screen and (min-width: 2560px) {
  #section-showreel {
    padding-top: 30rem;
  }
}
.container-9 {
  width: 90%;
  margin: auto;
}
.container-8 {
  width: 80%;
  margin: auto;
}
.container-7 {
  width: 70%;
  margin: auto;
}
.container-6 {
  width: 60%;
  margin: auto;
}
.container-5 {
  width: 50%;
  margin: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.p-u {
  text-transform: uppercase;
}

.p-custom {
  color: #ffd251;
}

h5 {
  line-height: 2;
}

.watch-btn, .watch-trailer {
  text-transform: uppercase;
  color: #e9e4e4;
}
.watch-btn i, .watch-trailer i {
  padding-right: 0.3rem;
}
.watch-btn:hover, .watch-trailer:hover {
  color: #ffd251;
  cursor: pointer;
}

.bg-dark {
  background-color: #3a3a3a;
}
.bg-light {
  background-color: #e9e4e4;
}

.btn-dark {
  background-color: #1b1c1e;
  color: #e9e4e4;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-dark:hover {
  background-color: #e9e4e4;
  color: #1b1c1e;
  transition: all 0.5s;
}
.btn-light {
  background-color: #e9e4e4;
  color: #1b1c1e;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-light:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  color: #e9e4e4;
  transition: all 0.5s;
}
.btn-custom {
  background-color: #ffd251;
  color: #1b1c1e;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-custom:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  color: #ffd251;
  transition: all 0.5s;
}
.btn-modal {
  background-color: #ffd251;
  color: #3a3a3a;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
.btn-modal:hover {
  cursor: pointer;
  background-color: #1b1c1e;
  color: #ffd251;
  transition: all 0.5s;
}
.btn-important {
  background-color: #34eaab;
  color: #1b1c1e;
  padding: 1rem 2rem;
  font-weight: 700;
  align-self: center;
  text-transform: lowercase;
}
.btn-important:hover {
  cursor: pointer;
  background-color: #ffd251;
  transition: all 0.5s;
}
.btn-caption:hover {
  color: #ffd251;
}

.separator {
  border: none;
  background-color: #ffd251;
  height: 1.5px;
  width: 100px;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}
.px-4 {
  padding: 0 4rem;
}

.pa-1 {
  padding: 1rem;
}
.pa-2 {
  padding: 2rem;
}
.pa-3 {
  padding: 0 3rem;
}
.pa-4 {
  padding: 0 4rem;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.mx-4 {
  margin: 0 4rem;
}

.my-1 {
  margin: 1rem;
}
.my-2 {
  margin: 2rem;
}
.my-3 {
  margin: 3rem;
}
.my-4 {
  margin: 4rem;
}

#section-about {
  padding-top: 12rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#section-about .about-img-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffd251;
}
#section-about .about-img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#section-about .about-img-wrapper .figcaption {
  height: 100%;
  font-weight: 900;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  color: #ffa700;
  text-transform: uppercase;
  line-height: 0.8;
}
#section-about .about-text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  font-size: 1rem;
}
#section-about .about-text-wrapper .about-text {
  font-size: 1rem;
  margin-top: 1rem;
}
#section-about .about-text-wrapper .about-text .about-text-important {
  font-weight: 700;
}
#section-about .about-text-wrapper .about-text .pink {
  color: #f00064;
}
#section-about .about-text-wrapper .about-text .green {
  color: #34eaab;
}

@media only screen and (max-width: 768px) {
  #section-about {
    padding-top: 8rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  #section-about .about-text {
    font-size: 0.8rem !important;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  letter-spacing: -0.5px;
}

body {
  background-color: #1b1c1e;
  background: url("img/main-bg.png");
  background-size: cover;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  color: #e9e4e4;
  min-height: 100vh;
  /**************** FOOTER ****************/
}
body header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #1b1c1e;
  box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.3);
}
body header .navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
body header #hero-text-wrap h1 {
  font-size: 1.2rem;
  font-weight: 700;
}
body header #hero-text-wrap h2 {
  font-weight: 900;
  font-size: 1rem;
  color: #34eaab;
}
body header nav {
  display: flex;
  align-items: center;
}
body header nav .nav-links {
  display: flex;
}
body header nav .nav-links a {
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  cursor: pointer;
  font-weight: 900;
  color: #1b1c1e;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #e9e4e4;
}
body header nav .nav-links a:hover {
  transition: all ease-in 0.1s;
  border-bottom: solid 5px #34eaab;
}
body header nav .nav-links .current {
  background-color: #ffd251;
  color: #1b1c1e;
}
body header nav .nav-links .current:hover {
  border-bottom: none;
}
body header nav .burguer {
  display: none;
  cursor: pointer;
}
body footer {
  background-color: #1b1c1e;
  margin-top: auto;
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
  color: #e9e4e4;
  box-shadow: 10px 10px 20px #171819, -5px -5px 5px #1f2023;
  padding: 2rem 1rem;
}
body footer .footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body footer .footer-wrapper #footer-social {
  display: flex;
}
body footer .footer-wrapper #footer-social i {
  color: #e9e4e4;
  padding: 0 1rem;
}
body footer .footer-wrapper #footer-social i:hover {
  color: rgb(43, 117, 186);
  transition: all 0.5s;
  cursor: pointer;
}
body footer .footer-wrapper #footer-contact a, body footer .footer-wrapper #footer-rights a {
  letter-spacing: 3px;
  color: #e9e4e4;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: lowercase;
}
body footer .footer-wrapper #footer-contact a:hover, body footer .footer-wrapper #footer-rights a:hover {
  color: #ffd251;
}
body footer .footer-wrapper #footer-rights {
  font-size: 0.7rem;
}
body footer .footer-wrapper #footer-rights img {
  width: 60px;
}
@keyframes carousel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes heroanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**************** MEDIA QUERIES ****************/
@media only screen and (max-width: 768px) {
  header #hero-text-wrap h1 {
    font-size: 0.9srem !important;
  }
  header #hero-text-wrap h2 {
    font-size: 0.7rem !important;
  }
  header .navbar-wrapper .nav-links {
    flex-direction: column;
    align-items: flex-end;
    text-align: start;
    background-color: rgba(27, 28, 30, 0.8);
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    position: absolute;
    right: 0;
    top: 8rem;
    padding: 2rem 2rem 0 0;
    transition: 0.3s ease-in;
  }
  header .navbar-wrapper .nav-links li {
    padding: 2rem 3rem 0 0;
  }
  header .navbar-wrapper .nav-active {
    transform: translateX(0%);
  }
  header .navbar-wrapper .burguer {
    display: block;
  }
  footer .footer-wrapper {
    flex-direction: column;
  }
  footer .footer-wrapper #footer-contact {
    padding: 1rem 0;
    margin: 1rem;
    border-top: solid 5px #ffd251;
    border-bottom: solid 5px #ffd251;
  }
}
@media only screen and (min-width: 2500px) {
  header {
    padding: 3rem 0;
  }
  header #hero-text-wrap h1 {
    font-size: 3rem !important;
  }
  header #hero-text-wrap h2 {
    font-size: 2.5rem !important;
  }
  header nav .nav-links li a {
    font-size: 3rem;
  }
  footer {
    font-size: 2rem !important;
  }
  footer .footer-wrapper #footer-contact a, footer .footer-wrapper #footer-rights a {
    font-size: 2.5rem !important;
  }
  footer .footer-wrapper #footer-rights {
    font-size: 2rem !important;
  }
  footer .footer-wrapper #footer-rights img {
    width: 200px !important;
  }
}/*# sourceMappingURL=style.css.map */